@import '../../../styles/application';

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-button);
  font-weight: bold;
  font-size: 13.5px;
  letter-spacing: 0.4px;
  height: 32px;
  padding: 5px 18px;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  background: initial;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:not(.disabled) {
    &.black {
      color: black;
      border: 1.65px solid #4b647d;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      border-radius: var(--border-radius-button);
    }

    &.red {
      color: #ff362a;
      border: 1.65px solid #ff362a;
    }

    &.orange {
      color: #4B647D;
      border: 1.65px solid #4B647D;
    }

    &.grey {
      color: #727588;
      border: 1.65px solid #727588;
    }

    &.light-grey {
      color: #b9b9b9;
      border: 1.65px solid #b9b9b9;
    }
    &.dark-blue {
      color: #194866;
      border: 1.65px solid #194866;
    }

    &:hover:not(.disabled) {
      box-shadow: 0 1px 1px rgb(0 0 0 / 35%);
      color: #4b647d;

      &.orange,
      &.hover-orange {
        color: #3d5165;
        border: 1.65px solid #3d5165;
      }

      &.grey &.hover-grey {
        color: darken(#727588, 5%);
        border: 1.65px solid darken(#727588, 5%);
      }

      &.light-grey &.hover-light-grey {
        color: #b9b9b9;
        border: 1.65px solid #b9b9b9;
      }

      &.red &.hover-grey {
        color: rgb(231, 2, 2);
        border: 1.65px solid rgb(231, 2, 2);
      }

      &.black,
      &.hover-black {
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        color: #4b647d;
      }

      &.hover-fill-red {
        background-color: rgb(231, 2, 2);
        color: white;
        border: 1.65px solid rgb(231, 2, 2);
      }
    }

    &:active:not(.disabled) {
      // box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);

      &.black,
      &.hover-black {
        color: black;
        box-shadow: inset 0 0 0 2px #5e5e5e;
        // color: #212121;
        // border: 1.65px solid #212121;
      }

      &.orange,
      &.hover-orange {
        color: #4B647D;
        border: 1.65px solid #4B647D;
      }

      &.grey,
      &.hover-grey {
        color: #707483;
        border: 1.65px solid #707483;
      }

      &.red,
      &.hover-red {
        color: rgb(196, 1, 1);
        border: 1.65px solid rgb(196, 1, 1);
      }

      &.hover-fill-red {
        background-color: rgb(196, 1, 1);
        color: white;
        border: 1.65px solid rgb(196, 1, 1);
      }
    }
  }

  &:focus-visible:not(.disabled) {
    border: none;
    outline: none;
    transition: 0.1s;
    box-shadow: 0 0 3pt 2pt #1a6affb0;
  }

  &.disabled {
    user-select: none;
    pointer-events: none;
    color: #e8e8e8;
    border: 1.65px solid #e8e8e8;
    cursor: default;
  }
}
