.profile-collection-list {
  box-shadow: none;
  border: 2px solid #eff1f3;
  > .action {
    > .primary-button {
      display: flex;
      gap: 6px;
      > svg {
        font-size: 20px;
      }
    }
  }
}
